[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/april
ExecStart=/home/ubuntu/april/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn/gunicorn.sock \
          jadoo.wsgi:application
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=775

[Install]
WantedBy=multi-user.target
