{% load static %}
<html lang="en">
  <head>
    <title>Visit www.pixelrocket.store to learn how to become a frontend web developer</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="{% static 'bb/buildingblocks-assets/fonts/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'bb/css/bootstrap/bootstrap.min.css' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'bb/favicon.png' %}"/>
  </head>
  <body>
    <div>
      <section>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container"><a class="navbar-brand" href="{% url 'index' %}"><img class="img-fluid" src="{% static 'bb/images/logo-4.svg' %}" alt=""/></a>
            <button class="d-lg-none navbar-burger btn p-0 rounded-pill" style="border: none;" type="button" aria-expanded="false">
              <svg class="text-secondary" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                <path d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <div class="collapse navbar-collapse position-relative" id="nav01">
              <ul class="navbar-nav position-absolute top-50 start-50 translate-middle">
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'pricing' %}">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
            <div class="d-none d-lg-block"><a class="btn me-4 btn-sm border-0 btn-outline-light lh-sm text-dark" href="login.html">Login</a><a class="btn btn-sm btn-secondary lh-sm" href="register.html">Get Started</a></div>
          </div>
        </nav>
        <div class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;">
          <div class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;"></div>
          <nav class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto">
            <div class="d-flex align-items-center"><a class="me-auto h4 mb-0 text-decoration-none" href="{% url 'index' %}"><img class="img-fluid" src="{% static 'bb/images/logo-4.svg' %}" alt=""/></a>              <a class="navbar-close" href="#">
                <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></a></div>
            <div class="py-12">
              <ul class="nav flex-column">
                <li class="nav-item mb-4"><a class="nav-link text-dark" href="{% url 'about' %}">About</a></li>
                <li class="nav-item mb-4"><a class="nav-link text-dark" href="{% url 'pricing' %}">Pricing</a></li>
                <li class="nav-item mb-4"><a class="nav-link text-dark" href="{% url 'blog' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
            <div><a class="btn d-block mb-2 btn-sm border-0 btn-outline-light text-dark" href="login.html">Login</a><a class="btn d-block btn-sm btn-secondary-dark" href="register.html">Get Started</a></div>
          </nav>
        </div>
      </section>
      <section class="py-12 py-md-16 py-lg-24 overflow-hidden">
        <div class="container">
          <div class="mw-lg mw-md-2xl mx-auto mw-lg-none">
            <div class="position-relative mb-20 mb-md-32">
              <div class="mb-64 mb-lg-32">
                <h1 class="font-heading mw-4xl mb-6">On a mission to make learning fun</h1>
                <p class="mw-lg text-light-dark fs-5">Our aim is to infuse every educational experience with the essence of joy, making learning an immersive adventure that fuels curiosity and fosters growth.</p>
              </div>
              <div class="position-relative mb-20 mb-lg-32 mx-8">
                <div class="position-absolute top-0 end-0 mt-n52 me-8 me-xl-24" style="z-index: 1;">
                  <div class="mw-xs ps-8 pe-6 py-8 bg-white rounded-3 border border-2 border-primary">
                    <p class="fs-5 fw-semibold mb-12">“They shipping a platform that took learning to the next level. I can invite my friend to study in specific topic together in just two-click.”</p>
                    <div class="d-flex align-items-center">
                      <div class="d-inline-flex rounded-pill bg-warning overflow-hidden"><img class="img-fluid d-block" src="{% static 'bb/buildingblocks-assets/images/about/avatar-picture.png' %}" alt=""/></div>
                      <div class="ms-4"><span class="d-block fw-semibold">Rob Schapiro</span>                        <span class="small text-light-dark">Student</span></div>
                    </div>
                  </div>
                </div>
                <div class="position-absolute top-0 mt-n12 ms-6 start-0 w-100 h-100 bg-primary-light rounded-3"></div>
                <div class="position-absolute top-0 mt-n6 start-0 w-100 h-100 bg-secondary rounded-3"></div><img class="position-relative ms-n6 img-fluid d-block w-100 rounded-3" style="height: 600px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/about/picture-large1.png' %}" alt=""/>
              </div>
              <div>
                <div class="row mb-16">
                  <div class="col-12 col-md-6 mb-8 mb-md-0">
                    <h3 class="font-heading mw-md fw-semibold">A company with values</h3>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="d-flex flex-column mw-lg">
                      <p class="fs-5 text-light-dark mb-0">Diversity, inclusion, and belonging are fundamental to our success. We believe the best solutions occur when a plurality of backgrounds, experiences, and identities work together.</p>
                    </div>
                  </div>
                </div>
                <div class="row mb-16">
                  <div class="col-12 col-lg-6 mb-8 mb-lg-0">
                    <div class="p-8 border rounded-3">
                      <svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="56" height="56" rx="16" fill="#FF7100"></rect>
                        <path d="M23.0001 14.6666V41.3333H22.4134C17.5601 41.3333 14.6667 38.44 14.6667 33.5866V22.4133C14.6667 17.56 17.5601 14.6666 22.4134 14.6666H23.0001Z" fill="white"></path>
                        <path d="M40.8333 22.4133V26.5H25.5V15.1666H33.5867C35.9139 15.1666 37.7113 15.8584 38.9264 17.0735C40.1416 18.2886 40.8333 20.0861 40.8333 22.4133Z" fill="white" stroke="white"></path>
                        <path d="M41.3333 29V33.5867C41.3333 38.44 38.44 41.3333 33.5867 41.3333H25V29H41.3333Z" fill="white"></path>
                      </svg>
                      <div class="position-relative my-4">
                        <div class="position-absolute start-0 top-0 ms-n8 border-2 border-start border-primary py-3"></div>
                        <h5 class="display-3 fw-bold mb-0">Passion for Innovation</h5>
                      </div>
                      <p class="mw-lg text-light-dark mb-0">We thrive on a relentless passion for innovation. We constantly challenge the status quo, seeking out creative solutions and pushing the boundaries of what's possible.</p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="p-8 border rounded-3">
                      <svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="56" height="56" rx="16" fill="#FF7100"></rect>
                        <path d="M23.0001 14.6666V41.3333H22.4134C17.5601 41.3333 14.6667 38.44 14.6667 33.5866V22.4133C14.6667 17.56 17.5601 14.6666 22.4134 14.6666H23.0001Z" fill="white"></path>
                        <path d="M40.8333 22.4133V26.5H25.5V15.1666H33.5867C35.9139 15.1666 37.7113 15.8584 38.9264 17.0735C40.1416 18.2886 40.8333 20.0861 40.8333 22.4133Z" fill="white" stroke="white"></path>
                        <path d="M41.3333 29V33.5867C41.3333 38.44 38.44 41.3333 33.5867 41.3333H25V29H41.3333Z" fill="white"></path>
                      </svg>
                      <div class="position-relative my-4">
                        <div class="position-absolute start-0 top-0 ms-n8 border-2 border-start border-primary py-3"></div>
                        <h5 class="display-3 fw-bold mb-0">Collaborative Community</h5>
                      </div>
                      <p class="mw-lg text-light-dark mb-0">We foster an inclusive and supportive environment where every voice is heard, and diverse perspectives contribute to our collective success. Together, we achieve more.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mb-24"><img class="img-fluid me-8 d-block w-100 mw-xs rounded-3" style="height: 320px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/about/picture1.png' %}" alt=""/><img class="img-fluid me-8 d-block w-100 mw-xs rounded-3" style="height: 320px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/about/picture2.png' %}" alt=""/><img class="img-fluid me-8 d-block w-100 mw-xs rounded-3" style="height: 320px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/about/picture3.png' %}" alt=""/><img class="img-fluid me-8 d-block w-100 mw-xs rounded-3" style="height: 320px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/about/picture4.png' %}" alt=""/><img class="img-fluid d-block w-100 mw-xs rounded-3" style="height: 320px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/about/picture5.png' %}" alt=""/></div>
            <h3 class="font-heading text-center mb-8">Our investors</h3>
            <div class="mb-24 py-8 bg-light-light rounded-3">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0 py-8"><img class="img-fluid d-block mx-auto" src="{% static 'bb/buildingblocks-assets/images/logos/placeholder-logo1.png' %}" alt=""/></div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0 py-8"><img class="img-fluid d-block mx-auto" src="{% static 'bb/buildingblocks-assets/images/logos/placeholder-logo2.png' %}" alt=""/></div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0 py-8"><img class="img-fluid d-block mx-auto" src="{% static 'bb/buildingblocks-assets/images/logos/placeholder-logo3.png' %}" alt=""/></div>
                <div class="col-12 col-md-6 col-lg-3 py-8"><img class="img-fluid d-block mx-auto" src="{% static 'bb/buildingblocks-assets/images/logos/placeholder-logo4.png' %}" alt=""/></div>
              </div>
            </div>
            <div class="text-center mb-16">
              <h4 class="mb-6 text-center">Meet the team</h4>
              <p class="text-light-dark mb-0">A dynamic group of individuals united by passion and expertise</p>
            </div>
            <div class="row mb-16">
              <div class="col-12 col-lg-4 mb-8 mb-lg-0">
                <div class="position-relative rounded-3 overflow-hidden"><img class="position-relative img-fluid d-block w-100" src="{% static 'bb/buildingblocks-assets/images/about/men-picture.png' %}" alt=""/>
                  <div class="position-absolute bottom-0 start-0 px-8 py-4 bg-white" style="border-top-right-radius: 24px;"><span class="d-block display-3 fw-bold mb-2">David Petrucci</span>                    <span class="small text-light-dark">Founder & CEO</span></div>
                </div>
              </div>
              <div class="col-12 col-lg-4 mb-8 mb-lg-0">
                <div class="position-relative rounded-3 overflow-hidden"><img class="position-relative img-fluid d-block w-100" src="{% static 'bb/buildingblocks-assets/images/about/woman-picture2.png' %}" alt=""/>
                  <div class="position-absolute bottom-0 start-0 px-8 py-4 bg-white" style="border-top-right-radius: 24px;"><span class="d-block display-3 fw-bold mb-2">Malika Gil</span>                    <span class="small text-light-dark">Operations Manager</span></div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="position-relative rounded-3 overflow-hidden"><img class="position-relative img-fluid d-block w-100" src="{% static 'bb/buildingblocks-assets/images/about/woman-picture1.png' %}" alt=""/>
                  <div class="position-absolute bottom-0 start-0 px-8 py-4 bg-white" style="border-top-right-radius: 24px;"><span class="d-block display-3 fw-bold mb-2">Erika Newton</span>                    <span class="small text-light-dark">Growth Marketer</span></div>
                </div>
              </div>
            </div>
            <div class="text-center"><a class="btn btn-sm btn-primary fs-6 border border-primary-dark" href="#">Careers</a></div>
          </div>
        </div>
      </section>
      <section class="py-12 py-md-16 py-lg-24 overflow-hidden">
        <div class="container">
          <div class="mw-5xl mx-auto">
            <div class="mb-16">
              <svg width="176" height="176" viewbox="0 0 176 176" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_256_5411)">
                  <rect width="176" height="176" rx="48" fill="#FF7100"></rect>
                  <path d="M154 77V49.5C154 46.4624 151.538 44 148.5 44L132 44C128.963 44 126.5 46.4624 126.5 49.5V71.5C126.5 89.7254 111.726 104.5 93.5003 104.5L71.5003 104.5C68.4627 104.5 66.0003 106.962 66.0003 110V126.5C66.0003 129.538 68.4627 132 71.5003 132L99.0003 132C129.376 132 154 107.376 154 77Z" fill="white"></path>
                  <path d="M22 99L22 126.5C22 129.538 24.4624 132 27.5 132H44C47.0376 132 49.5 129.538 49.5 126.5V104.5C49.5 86.2746 64.2746 71.5 82.5 71.5H104.5C107.538 71.5 110 69.0376 110 66V49.5C110 46.4624 107.538 44 104.5 44L77 44C46.6243 44 22 68.6243 22 99Z" fill="white"></path>
                </g>
              </svg>
            </div>
            <h3 class="font-heading mb-10">Careers at our company</h3>
            <div class="mb-16 p-6 rounded-2 border border-primary">
              <p class="mb-0"><span>Check out our</span>                <a class="d-inline-flex align-items-center fw-bold" href="#"><span class="me-1">Open Roles</span>
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.16663 10C2.16663 5.67616 5.6761 2.16669 9.99996 2.16669C14.3238 2.16669 17.8333 5.67616 17.8333 10C17.8333 14.3239 14.3238 17.8334 9.99996 17.8334C5.6761 17.8334 2.16663 14.3239 2.16663 10ZM10.7952 13.7119L13.2952 11.2119C13.7321 10.775 13.7321 10.0584 13.2952 9.62147C12.8583 9.18454 12.1417 9.18454 11.7047 9.62147L11.125 10.2012V7.08335C11.125 6.46554 10.6178 5.95835 9.99996 5.95835C9.38215 5.95835 8.87496 6.46554 8.87496 7.08335V10.2012L8.29518 9.62147C7.85825 9.18454 7.14167 9.18454 6.70474 9.62147C6.26781 10.0584 6.26781 10.775 6.70474 11.2119L9.20474 13.7119C9.42845 13.9356 9.71617 14.0417 9.99996 14.0417C10.2837 14.0417 10.5715 13.9356 10.7952 13.7119Z" fill="currentColor" stroke="currentColor"></path>
                  </svg></a>                <span>at the bottom of the page</span></p>
            </div>
            <h4 class="mb-4">What we’re building</h4>
            <div class="row mb-16">
              <div class="col-12 col-lg-6 mb-6 mb-lg-0">
                <div>
                  <p class="text-light-dark mb-0">People are shifting to a new form of collaboration in distributed teams and are wasting too much effort connecting the dots between different work streams to understand the bigger picture. We are building a work hub that gives people a radically simpler way to coordinate work across teams and get context on what’s happening.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div>
                  <p class="text-light-dark mb-0">By bringing structure, access, and efficiency to teamwork, We make it easier for businesses to scale their operations. Backed by Atomico, Salesforce Ventures, and Mosaic, we’re on a mission to unlock the collective potential of teams and would love for you to join us!</p>
                </div>
              </div>
            </div>
            <div class="row mb-16">
              <div class="col-12 mb-8"><img class="img-fluid w-100 rounded-3" style="height: 600px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/careers/picture2-large.png' %}" alt=""/></div>
              <div class="col-12 col-lg-6 mb-8 mb-lg-0"><img class="img-fluid w-100 rounded-3" style="height: 300px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/careers/picture3.png' %}" alt=""/></div>
              <div class="col-12 col-lg-6"><img class="img-fluid w-100 rounded-3" style="height: 300px; object-fit: cover;" src="{% static 'bb/buildingblocks-assets/images/careers/picture1.png' %}" alt=""/></div>
            </div>
            <h4 class="font-heading mb-16">Great benefits</h4>
            <div class="row mb-n12">
              <div class="col-12 col-lg-6 mb-12">
                <div class="mw-md">
                  <div class="d-flex align-items-center mb-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-light rounded-pill" style="width: 32px; height: 32px;">🏥</div>
                    <h5 class="ms-3 mb-0">Inclusive Health Package</h5>
                  </div>
                  <p class="mb-0 text-light-dark">We care for your well-being with dental and vision benefits. No health expense stress.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-12">
                <div class="mw-md">
                  <div class="d-flex align-items-center mb-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-light rounded-pill" style="width: 32px; height: 32px;">🏋</div>
                    <h5 class="ms-3 mb-0">Free Gym Membership</h5>
                  </div>
                  <p class="mb-0 text-light-dark">Enjoy a complimentary gym membership for your fitness and well-being.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-12">
                <div class="mw-md">
                  <div class="d-flex align-items-center mb-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-light rounded-pill" style="width: 32px; height: 32px;">🕞</div>
                    <h5 class="ms-3 mb-0">Flexible Working Style</h5>
                  </div>
                  <p class="mb-0 text-light-dark">We are 100% remote-friendly, work with team mates from different time zones.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-12">
                <div class="mw-md">
                  <div class="d-flex align-items-center mb-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-light rounded-pill" style="width: 32px; height: 32px;">🏖️</div>
                    <h5 class="ms-3 mb-0">Balanced Working Life</h5>
                  </div>
                  <p class="mb-0 text-light-dark">We offer a flexible 4-weeks vacation policy. Recharge whenever you need to.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-12">
                <div class="mw-md">
                  <div class="d-flex align-items-center mb-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-light rounded-pill" style="width: 32px; height: 32px;">🌍</div>
                    <h5 class="ms-3 mb-0">Diversity and Inclusion</h5>
                  </div>
                  <p class="mb-0 text-light-dark">Our strength lies in team members diversity and inclusive culture.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-12">
                <div class="mw-md">
                  <div class="d-flex align-items-center mb-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-light rounded-pill" style="width: 32px; height: 32px;">💰</div>
                    <h5 class="ms-3 mb-0">Generous Perks Program</h5>
                  </div>
                  <p class="mb-0 text-light-dark">We provide perk stipends for home office, learning, wellness, and connectivity.</p>
                </div>
              </div>
            </div>
            <div class="mt-16">
              <h4 class="mb-10">Open roles</h4>
              <h5 class="mb-4">Engineering</h5><a class="btn d-block btn-outline-light p-8 text-start fw-normal rounded-3 mb-10" href="#">
                <div class="d-flex flex-wrap mb-n6 align-items-center justify-content-between">
                  <div class="pe-10 mb-6">
                    <h5 class="mb-2">Full-Stack Engineer</h5>
                    <div class="d-flex align-items-center">
                      <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.1833 7.04158C16.3083 3.19159 12.95 1.45825 9.99996 1.45825C9.99996 1.45825 9.99996 1.45825 9.99162 1.45825C7.04996 1.45825 3.68329 3.18325 2.80829 7.03325C1.83329 11.3333 4.46662 14.9749 6.84996 17.2666C7.73329 18.1166 8.86662 18.5416 9.99996 18.5416C11.1333 18.5416 12.2666 18.1166 13.1416 17.2666C15.525 14.9749 18.1583 11.3416 17.1833 7.04158ZM9.99996 11.2166C8.54996 11.2166 7.37496 10.0416 7.37496 8.59159C7.37496 7.14158 8.54996 5.96658 9.99996 5.96658C11.45 5.96658 12.625 7.14158 12.625 8.59159C12.625 10.0416 11.45 11.2166 9.99996 11.2166Z" fill="#8C8C8C"></path>
                      </svg><span class="ms-2 text-light-dark">US, Mexico, Canada</span>
                    </div>
                  </div>
                  <div class="mb-6">
                    <div class="d-flex mb-n4 justify-content-end"><span class="badge d-inline-flex align-items-center me-2 mb-4 bg-primary-light fw-medium text-primary border border-warning">
                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4.10964 11.8857C4.17411 12.2351 4.24439 12.5847 4.32337 12.9332C3.84585 12.577 3.42135 12.1516 3.06418 11.6726C3.41234 11.7521 3.76165 11.8227 4.10964 11.8857Z" fill="#FF7100" stroke="#FF7100"></path>
                          <path d="M13.96 10.9666C13.3 12.2933 12.2 13.3666 10.86 14.0133C11.1133 13.1666 11.3267 12.3133 11.4667 11.4533C12.3067 11.3133 13.1333 11.1333 13.9467 10.8933C13.94 10.92 13.96 10.9466 13.96 10.9666Z" fill="#FF7100"></path>
                          <path d="M14.0133 5.13991C13.1733 4.88657 12.3267 4.67991 11.4667 4.53324C11.3267 3.67324 11.12 2.81991 10.86 1.98657C12.24 2.64657 13.3533 3.75991 14.0133 5.13991Z" fill="#FF7100"></path>
                          <path d="M5.10003 2.06004C4.86003 2.87337 4.68669 3.70004 4.54669 4.54004C3.68669 4.67337 2.83336 4.88671 1.98669 5.14004C2.63336 3.80004 3.70669 2.70004 5.03336 2.04004C5.05336 2.04004 5.08003 2.06004 5.10003 2.06004Z" fill="#FF7100"></path>
                          <path d="M10.3267 4.39325C8.78001 4.21992 7.22001 4.21992 5.67334 4.39325C5.84001 3.47992 6.05334 2.56659 6.35334 1.68659C6.36667 1.63325 6.36001 1.59325 6.36667 1.53992C6.89334 1.41325 7.43334 1.33325 8.00001 1.33325C8.56001 1.33325 9.10667 1.41325 9.62667 1.53992C9.63334 1.59325 9.63334 1.63325 9.64667 1.68659C9.94667 2.57325 10.16 3.47992 10.3267 4.39325Z" fill="#FF7100"></path>
                          <path d="M4.39337 10.3267C3.47337 10.16 2.56671 9.94667 1.68671 9.64667C1.63337 9.63334 1.59337 9.64001 1.54004 9.63334C1.41337 9.10667 1.33337 8.56667 1.33337 8.00001C1.33337 7.44001 1.41337 6.89334 1.54004 6.37334C1.59337 6.36667 1.63337 6.36667 1.68671 6.35334C2.57337 6.06001 3.47337 5.84001 4.39337 5.67334C4.22671 7.22001 4.22671 8.78001 4.39337 10.3267Z" fill="#FF7100"></path>
                          <path d="M14.6667 8.00001C14.6667 8.56667 14.5867 9.10667 14.46 9.63334C14.4067 9.64001 14.3667 9.63334 14.3134 9.64667C13.4267 9.94001 12.52 10.16 11.6067 10.3267C11.78 8.78001 11.78 7.22001 11.6067 5.67334C12.52 5.84001 13.4334 6.05334 14.3134 6.35334C14.3667 6.36667 14.4067 6.37334 14.46 6.37334C14.5867 6.90001 14.6667 7.44001 14.6667 8.00001Z" fill="#FF7100"></path>
                          <path d="M10.3267 11.6067C10.16 12.5267 9.94667 13.4334 9.64667 14.3134C9.63334 14.3667 9.63334 14.4067 9.62667 14.46C9.10667 14.5867 8.56001 14.6667 8.00001 14.6667C7.43334 14.6667 6.89334 14.5867 6.36667 14.46C6.36001 14.4067 6.36667 14.3667 6.35334 14.3134C6.06001 13.4267 5.84001 12.5267 5.67334 11.6067C6.44667 11.6934 7.22001 11.7534 8.00001 11.7534C8.78001 11.7534 9.56001 11.6934 10.3267 11.6067Z" fill="#FF7100"></path>
                          <path d="M10.5089 10.5088C8.84153 10.7192 7.15855 10.7192 5.49115 10.5088C5.28078 8.84141 5.28078 7.15843 5.49115 5.49103C7.15855 5.28066 8.84153 5.28066 10.5089 5.49103C10.7193 7.15843 10.7193 8.84141 10.5089 10.5088Z" fill="#FF7100"></path>
                        </svg><span class="ms-1">Remote</span></span>                      <span class="badge d-inline-flex align-items-center mb-4 bg-primary-light fw-medium text-primary border border-warning">Full time</span></div>
                  </div>
                </div></a>
              <h5 class="mb-4">Design</h5><a class="btn d-block btn-outline-light p-8 text-start fw-normal rounded-3" href="#">
                <div class="d-flex mb-n6 flex-wrap align-items-center justify-content-between">
                  <div class="pe-10 mb-6">
                    <h5 class="mb-2">Staff Product Designer</h5>
                    <div class="d-flex align-items-center">
                      <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.1833 7.04158C16.3083 3.19159 12.95 1.45825 9.99996 1.45825C9.99996 1.45825 9.99996 1.45825 9.99162 1.45825C7.04996 1.45825 3.68329 3.18325 2.80829 7.03325C1.83329 11.3333 4.46662 14.9749 6.84996 17.2666C7.73329 18.1166 8.86662 18.5416 9.99996 18.5416C11.1333 18.5416 12.2666 18.1166 13.1416 17.2666C15.525 14.9749 18.1583 11.3416 17.1833 7.04158ZM9.99996 11.2166C8.54996 11.2166 7.37496 10.0416 7.37496 8.59159C7.37496 7.14158 8.54996 5.96658 9.99996 5.96658C11.45 5.96658 12.625 7.14158 12.625 8.59159C12.625 10.0416 11.45 11.2166 9.99996 11.2166Z" fill="#8C8C8C"></path>
                      </svg><span class="ms-2 text-light-dark">US, Mexico, Canada</span>
                    </div>
                  </div>
                  <div class="mb-6">
                    <div class="d-flex mb-n4 justify-content-end"><span class="badge d-inline-flex align-items-center me-2 mb-4 bg-primary-light fw-medium text-primary border border-warning">
                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4.10964 11.8857C4.17411 12.2351 4.24439 12.5847 4.32337 12.9332C3.84585 12.577 3.42135 12.1516 3.06418 11.6726C3.41234 11.7521 3.76165 11.8227 4.10964 11.8857Z" fill="#FF7100" stroke="#FF7100"></path>
                          <path d="M13.96 10.9666C13.3 12.2933 12.2 13.3666 10.86 14.0133C11.1133 13.1666 11.3267 12.3133 11.4667 11.4533C12.3067 11.3133 13.1333 11.1333 13.9467 10.8933C13.94 10.92 13.96 10.9466 13.96 10.9666Z" fill="#FF7100"></path>
                          <path d="M14.0133 5.13991C13.1733 4.88657 12.3267 4.67991 11.4667 4.53324C11.3267 3.67324 11.12 2.81991 10.86 1.98657C12.24 2.64657 13.3533 3.75991 14.0133 5.13991Z" fill="#FF7100"></path>
                          <path d="M5.10003 2.06004C4.86003 2.87337 4.68669 3.70004 4.54669 4.54004C3.68669 4.67337 2.83336 4.88671 1.98669 5.14004C2.63336 3.80004 3.70669 2.70004 5.03336 2.04004C5.05336 2.04004 5.08003 2.06004 5.10003 2.06004Z" fill="#FF7100"></path>
                          <path d="M10.3267 4.39325C8.78001 4.21992 7.22001 4.21992 5.67334 4.39325C5.84001 3.47992 6.05334 2.56659 6.35334 1.68659C6.36667 1.63325 6.36001 1.59325 6.36667 1.53992C6.89334 1.41325 7.43334 1.33325 8.00001 1.33325C8.56001 1.33325 9.10667 1.41325 9.62667 1.53992C9.63334 1.59325 9.63334 1.63325 9.64667 1.68659C9.94667 2.57325 10.16 3.47992 10.3267 4.39325Z" fill="#FF7100"></path>
                          <path d="M4.39337 10.3267C3.47337 10.16 2.56671 9.94667 1.68671 9.64667C1.63337 9.63334 1.59337 9.64001 1.54004 9.63334C1.41337 9.10667 1.33337 8.56667 1.33337 8.00001C1.33337 7.44001 1.41337 6.89334 1.54004 6.37334C1.59337 6.36667 1.63337 6.36667 1.68671 6.35334C2.57337 6.06001 3.47337 5.84001 4.39337 5.67334C4.22671 7.22001 4.22671 8.78001 4.39337 10.3267Z" fill="#FF7100"></path>
                          <path d="M14.6667 8.00001C14.6667 8.56667 14.5867 9.10667 14.46 9.63334C14.4067 9.64001 14.3667 9.63334 14.3134 9.64667C13.4267 9.94001 12.52 10.16 11.6067 10.3267C11.78 8.78001 11.78 7.22001 11.6067 5.67334C12.52 5.84001 13.4334 6.05334 14.3134 6.35334C14.3667 6.36667 14.4067 6.37334 14.46 6.37334C14.5867 6.90001 14.6667 7.44001 14.6667 8.00001Z" fill="#FF7100"></path>
                          <path d="M10.3267 11.6067C10.16 12.5267 9.94667 13.4334 9.64667 14.3134C9.63334 14.3667 9.63334 14.4067 9.62667 14.46C9.10667 14.5867 8.56001 14.6667 8.00001 14.6667C7.43334 14.6667 6.89334 14.5867 6.36667 14.46C6.36001 14.4067 6.36667 14.3667 6.35334 14.3134C6.06001 13.4267 5.84001 12.5267 5.67334 11.6067C6.44667 11.6934 7.22001 11.7534 8.00001 11.7534C8.78001 11.7534 9.56001 11.6934 10.3267 11.6067Z" fill="#FF7100"></path>
                          <path d="M10.5089 10.5088C8.84153 10.7192 7.15855 10.7192 5.49115 10.5088C5.28078 8.84141 5.28078 7.15843 5.49115 5.49103C7.15855 5.28066 8.84153 5.28066 10.5089 5.49103C10.7193 7.15843 10.7193 8.84141 10.5089 10.5088Z" fill="#FF7100"></path>
                        </svg><span class="ms-1">Remote</span></span>                      <span class="badge d-inline-flex align-items-center mb-4 bg-primary-light fw-medium text-primary border border-warning">Full time</span></div>
                  </div>
                </div></a>
            </div>
          </div>
        </div>
      </section>
      <section class="py-12 py-md-16 py-lg-24 position-relative">
        <div class="container position-relative">
          <div class="mw-5xl mx-auto py-20 px-8 bg-primary rounded-3">
            <div class="mw-lg mw-xl-2xl mx-auto text-center">
              <div class="mb-6">
                <svg width="68" height="34" viewbox="0 0 68 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 34C1.99977 29.7976 2.8273 25.6364 4.43533 21.7539C6.04336 17.8713 8.40039 14.3436 11.3718 11.3721C14.3433 8.40056 17.8709 6.04346 21.7533 4.43539C25.6358 2.82732 29.7969 1.99977 33.9991 2C51.6726 2 66 16.3261 66 34" stroke="#FFC96D" stroke-width="4" stroke-miterlimit="10"></path>
                  <path d="M9.22583 34C9.22583 27.4084 11.836 21.0868 16.482 16.4258C21.1281 11.7649 27.4295 9.14639 34 9.14639C40.5705 9.14639 46.872 11.7649 51.518 16.4258C56.1641 21.0868 58.7742 27.4084 58.7742 34" stroke="#FFF2D6" stroke-width="4" stroke-miterlimit="10"></path>
                  <path d="M16.134 34C16.134 29.2617 18.0163 24.7174 21.3669 21.3669C24.7174 18.0163 29.2617 16.134 34 16.134C38.7384 16.134 43.2827 18.0163 46.6332 21.3669C49.9837 24.7174 51.866 29.2617 51.866 34" stroke="#530031" stroke-width="4" stroke-miterlimit="10"></path>
                </svg>
              </div>
              <h3 class="font-heading mb-6 text-white">Want to learn how to build templates like this one?</h3>
              <p class="text-primary-light mb-10">Visit www.pixelrocket.store and learn how to become a frontend web developer</p>
              <div class="d-inline-block bg-white rounded-pill"><a class="btn btn-outline-light text-dark w-100" href="https://www.pixelrocket.store">Start learning today!</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-12 pt-lg-24">
        <div class="container">
          <div class="row mb-16 mb-md-20 mb-lg-32">
            <div class="col-lg-3 mb-16 mb-lg-0"><a class="d-inline-block" href="{% url 'index' %}"><img src="{% static 'bb/images/logo-4.svg' %}" alt=""/></a></div>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-6 col-md-3 mb-12">
                  <h6 class="mb-6 fw-medium">Platform</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'about' %}">About</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'pricing' %}">Pricing</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'blog' %}">Blog</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'contact' %}">Contact</a></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="https://www.pixelrocket.store">Pixel Rocket</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3 mb-12">
                  <h6 class="mb-6 fw-medium">Company</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'about' %}">About</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Our Mission</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Careers</a>                      <span class="badge ms-1 bg-primary text-white lh-base">HIRING</span></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="{% url 'contact' %}">Contact</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <h6 class="mb-6 fw-medium">Resources</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Tutorials</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'blog' %}">Blog</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Help Center</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Features</a></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="#">Support</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <h6 class="mb-6 fw-medium">Community</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Discord Server</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Slack Group</a></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="#">Zoom Room</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <p class="text-light-dark small mb-0">Template by <a href="https://www.pixelrocket.store">Pixel Rocket</a>. All rights reserved.</p>
          </div>
        </div>
      </section>
    </div>
    <script src="{% static 'bb/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bb/js/main.js' %}"></script>
  </body>
</html>