{% load static %}
<html lang="en">
  <head>
    <title>Visit www.pixelrocket.store to learn how to become a frontend web developer</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="{% static 'bb/buildingblocks-assets/fonts/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'bb/css/bootstrap/bootstrap.min.css' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'bb/favicon.png' %}"/>
  </head>
  <body>
    <div>
      <section>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container"><a class="navbar-brand" href="{% url 'index' %}"><img class="img-fluid" src="{% static 'bb/images/logo-4.svg' %}" alt=""/></a>
            <button class="d-lg-none navbar-burger btn p-0 rounded-pill" style="border: none;" type="button" aria-expanded="false">
              <svg class="text-secondary" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                <path d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <div class="collapse navbar-collapse position-relative" id="nav01">
              <ul class="navbar-nav position-absolute top-50 start-50 translate-middle">
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'pricing' %}">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
            <div class="d-none d-lg-block"><a class="btn me-4 btn-sm border-0 btn-outline-light lh-sm text-dark" href="login.html">Login</a><a class="btn btn-sm btn-secondary lh-sm" href="register.html">Get Started</a></div>
          </div>
        </nav>
        <div class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;">
          <div class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;"></div>
          <nav class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto">
            <div class="d-flex align-items-center"><a class="me-auto h4 mb-0 text-decoration-none" href="{% url 'index' %}"><img class="img-fluid" src="{% static 'bb/images/logo-4.svg' %}" alt=""/></a>              <a class="navbar-close" href="#">
                <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></a></div>
            <div class="py-12">
              <ul class="nav flex-column">
                <li class="nav-item mb-4"><a class="nav-link text-dark" href="{% url 'about' %}">About</a></li>
                <li class="nav-item mb-4"><a class="nav-link text-dark" href="{% url 'pricing' %}">Pricing</a></li>
                <li class="nav-item mb-4"><a class="nav-link text-dark" href="{% url 'blog' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
            <div><a class="btn d-block mb-2 btn-sm border-0 btn-outline-light text-dark" href="login.html">Login</a><a class="btn d-block btn-sm btn-secondary-dark" href="register.html">Get Started</a></div>
          </nav>
        </div>
      </section>
      <section class="py-12 py-md-16 py-lg-24">
        <div class="container position-relative">
          <div class="mw-6xl mx-auto">
            <div class="mw-3xl mx-auto mb-16 text-center">
              <h3 class="font-heading mb-6">Latest articles and releases</h3>
              <p class="text-light-dark mb-20">Discover the latest news, tips and user stories insights from Solstice.</p>
              <div class="mb-n3"><a class="btn btn-sm mb-3 me-2 py-3 px-4 btn-secondary border border-secondary-light fw-semibold shadow" href="#">All Articles</a><a class="btn btn-sm mb-3 me-2 py-3 px-4 btn-outline-light text-dark fw-semibold shadow" href="#">Getting Started</a><a class="btn btn-sm mb-3 me-2 py-3 px-4 btn-outline-light text-dark fw-semibold shadow" href="#">Learning Resources</a><a class="btn btn-sm mb-3 py-3 px-4 btn-outline-light text-dark fw-semibold shadow" href="#">Stories</a></div>
            </div>
            <div class="row mb-n8">
              <div class="col-12 col-sm-6 col-lg-4 mb-8"><a class="card h-100 border-0" href="#">
                  <div class="position-relative rounded-2 overflow-hidden">
                    <div class="position-absolute top-0 start-0">
                      <svg width="159" height="156" viewbox="0 0 159 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z" fill="#FFF2D6"></path>
                      </svg>
                    </div>
                    <div class="position-absolute bottom-0 end-0">
                      <svg width="150" height="158" viewbox="0 0 150 158" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z" fill="#FFF2D6"></path>
                      </svg>
                    </div><img class="card-img-top rounded-0" src="{% static 'bb/buildingblocks-assets/images/blog/picture1.png' %}" style="height: 240px;" alt="..."/>
                  </div>
                  <div class="card-body px-0 d-flex flex-column align-items-start mw-xs">
                    <div class="mb-3"><span class="me-3 small text-light-dark">17 Jul 2023</span>
                      <svg width="4" height="4" viewbox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#D1D1D1"></circle>
                      </svg><span class="badge ms-3 text-light-dark fw-medium border">Tips</span>
                    </div>
                    <h5 class="card-title display-5 fw-semibold lh-base mb-3">Make Your Phone Your Best Study Tool</h5>
                    <p class="card-text small text-light-dark">How do we make our phone best study tool? Read on to find out more.</p>
                  </div></a></div>
              <div class="col-12 col-sm-6 col-lg-4 mb-8"><a class="card h-100 border-0" href="#">
                  <div class="position-relative rounded-2 overflow-hidden">
                    <div class="position-absolute top-0 start-0">
                      <svg width="159" height="156" viewbox="0 0 159 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z" fill="#530031"></path>
                      </svg>
                    </div>
                    <div class="position-absolute bottom-0 end-0">
                      <svg width="150" height="158" viewbox="0 0 150 158" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z" fill="#530031"></path>
                      </svg>
                    </div><img class="card-img-top rounded-0" src="{% static 'bb/buildingblocks-assets/images/blog/picture2.png' %}" style="height: 240px;" alt="..."/>
                  </div>
                  <div class="card-body px-0 d-flex flex-column align-items-start mw-xs">
                    <div class="mb-3"><span class="me-3 small text-light-dark">17 Jul 2023</span>
                      <svg width="4" height="4" viewbox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#D1D1D1"></circle>
                      </svg><span class="badge ms-3 text-light-dark fw-medium border">Wellbeing</span>
                    </div>
                    <h5 class="card-title display-5 fw-semibold lh-base mb-3">How to Maintain Good Wellbeing While Studying</h5>
                    <p class="card-text small text-light-dark">How do we make our phone best study tool? Read on to find out more.</p>
                  </div></a></div>
              <div class="col-12 col-sm-6 col-lg-4 mb-8"><a class="card h-100 border-0" href="#">
                  <div class="position-relative rounded-2 overflow-hidden">
                    <div class="position-absolute top-0 start-0">
                      <svg width="159" height="156" viewbox="0 0 159 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z" fill="#FF7100"></path>
                      </svg>
                    </div>
                    <div class="position-absolute bottom-0 end-0">
                      <svg width="150" height="158" viewbox="0 0 150 158" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z" fill="#FF7100"></path>
                      </svg>
                    </div><img class="card-img-top rounded-0" src="{% static 'bb/buildingblocks-assets/images/blog/picture3.png' %}" style="height: 240px;" alt="..."/>
                  </div>
                  <div class="card-body px-0 d-flex flex-column align-items-start mw-xs">
                    <div class="mb-3"><span class="me-3 small text-light-dark">17 Jul 2023</span>
                      <svg width="4" height="4" viewbox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#D1D1D1"></circle>
                      </svg><span class="badge ms-3 text-light-dark fw-medium border">Wellbeing</span>
                    </div>
                    <h5 class="card-title display-5 fw-semibold lh-base mb-3">Atomic Habits: Tiny Changes, Remarkable Results</h5>
                    <p class="card-text small text-light-dark">Are you looking for remarkable results in your productivity? Then reading James Clear’s Atomi...</p>
                  </div></a></div>
              <div class="col-12 col-sm-6 col-lg-4 mb-8"><a class="card h-100 border-0 overflow-hidden" href="#">
                  <div class="position-relative d-flex align-items-center justify-content-center w-100 bg-secondary rounded-2" style="height: 240px;">
                    <div class="position-absolute top-0 start-0 opacity-50">
                      <svg width="159" height="156" viewbox="0 0 159 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z" fill="white"></path>
                      </svg>
                    </div>
                    <div class="position-absolute bottom-0 end-0 opacity-50">
                      <svg width="153" height="155" viewbox="0 0 153 155" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z" fill="white"></path>
                      </svg>
                    </div>
                    <div class="position-relative d-flex align-items-center"><img class="img-fluid me-4" src="{% static 'bb/buildingblocks-assets/images/logos/solstice-logo-light.svg' %}" alt=""/>
                      <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5" d="M5.808 9.056H4.416V5.28H0.656V3.92H4.416V0.143999H5.808V3.92H9.584V5.28H5.808V9.056Z" fill="white"></path>
                      </svg><img class="img-fluid ms-4" src="{% static 'bb/buildingblocks-assets/images/logos/zoom-logo.png' %}" alt=""/>
                    </div>
                  </div>
                  <div class="card-body px-0 d-flex flex-column align-items-start mw-xs">
                    <div class="mb-3"><span class="me-3 small text-light-dark">17 Jul 2023</span>
                      <svg width="4" height="4" viewbox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#D1D1D1"></circle>
                      </svg><span class="badge ms-3 text-light-dark fw-medium border">Wellbeing</span>
                    </div>
                    <h5 class="card-title display-5 fw-semibold lh-base mb-3">Atomic Habits: Tiny Changes, Remarkable Results</h5>
                    <p class="card-text small text-light-dark">Are you looking for remarkable results in your productivity? Then reading James Clear’s Atomi...</p>
                  </div></a></div>
              <div class="col-12 col-sm-6 col-lg-4 mb-8"><a class="card h-100 border-0 overflow-hidden" href="#">
                  <div class="position-relative d-flex align-items-center justify-content-center w-100 bg-black rounded-2" style="height: 240px;">
                    <div class="position-absolute top-0 start-0 opacity-50">
                      <svg width="159" height="156" viewbox="0 0 159 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z" fill="white"></path>
                      </svg>
                    </div>
                    <div class="position-absolute bottom-0 end-0 opacity-50">
                      <svg width="153" height="155" viewbox="0 0 153 155" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z" fill="white"></path>
                      </svg>
                    </div>
                    <div class="position-relative d-flex align-items-center"><img class="img-fluid me-4" src="{% static 'bb/buildingblocks-assets/images/logos/solstice-logo-light.svg' %}" alt=""/>
                      <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5" d="M5.808 9.056H4.416V5.28H0.656V3.92H4.416V0.143999H5.808V3.92H9.584V5.28H5.808V9.056Z" fill="white"></path>
                      </svg><img class="img-fluid ms-4" src="{% static 'bb/buildingblocks-assets/images/logos/udemy-logo.png' %}" alt=""/>
                    </div>
                  </div>
                  <div class="card-body px-0 d-flex flex-column align-items-start mw-xs">
                    <div class="mb-3"><span class="me-3 small text-light-dark">17 Jul 2023</span>
                      <svg width="4" height="4" viewbox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#D1D1D1"></circle>
                      </svg><span class="badge ms-3 text-light-dark fw-medium border">Wellbeing</span>
                    </div>
                    <h5 class="card-title display-5 fw-semibold lh-base mb-3">Atomic Habits: Tiny Changes, Remarkable Results</h5>
                    <p class="card-text small text-light-dark">Are you looking for remarkable results in your productivity? Then reading James Clear’s Atomi...</p>
                  </div></a></div>
              <div class="col-12 col-sm-6 col-lg-4 mb-8"><a class="card h-100 border-0" href="#">
                  <div class="position-relative rounded-2 overflow-hidden">
                    <div class="position-absolute top-0 start-0">
                      <svg width="159" height="156" viewbox="0 0 159 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z" fill="#FFF2D6"></path>
                      </svg>
                    </div>
                    <div class="position-absolute bottom-0 end-0">
                      <svg width="150" height="158" viewbox="0 0 150 158" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z" fill="#FFF2D6"></path>
                      </svg>
                    </div><img class="card-img-top rounded-0" src="{% static 'bb/buildingblocks-assets/images/blog/picture4.png' %}" style="height: 240px;" alt="..."/>
                  </div>
                  <div class="card-body px-0 d-flex flex-column align-items-start mw-xs">
                    <div class="mb-3"><span class="me-3 small text-light-dark">17 Jul 2023</span>
                      <svg width="4" height="4" viewbox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#D1D1D1"></circle>
                      </svg><span class="badge ms-3 text-light-dark fw-medium border">Tips</span>
                    </div>
                    <h5 class="card-title display-5 fw-semibold lh-base mb-3">The Power of Collaborative Learning</h5>
                    <p class="card-text small text-light-dark">How do we make our phone best study tool? Read on to find out more.</p>
                  </div></a></div>
            </div>
            <div class="d-flex mt-8 pt-8 border-top justify-content-center">
              <nav>
                <ul class="pagination align-items-center">
                  <li class="page-item me-2"><a class="page-link d-flex align-items-center justify-content-center p-0 border rounded-pill shadow" href="" style="width: 40px; height: 40px;">
                      <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.125 16.25L6.875 10L13.125 3.75" stroke="#282828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></a></li>
                  <li class="page-item"><a class="page-link rounded-1" href="#">1</a></li>
                  <li class="page-item"><a class="page-link rounded-1" href="#">2</a></li>
                  <li class="page-item"><a class="page-link rounded-1" href="#">3</a></li>
                  <li class="page-item"><a class="page-link rounded-1" href="#">...</a></li>
                  <li class="page-item"><a class="page-link rounded-1" href="#">10</a></li>
                  <li class="page-item ms-2"><a class="page-link d-flex align-items-center justify-content-center p-0 border rounded-pill shadow" href="" style="width: 40px; height: 40px;">
                      <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.875 3.75L13.125 10L6.875 16.25" stroke="#282828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="py-12 py-md-16 py-lg-24 position-relative">
        <div class="container position-relative">
          <div class="mw-5xl mx-auto py-20 px-8 bg-primary rounded-3">
            <div class="mw-lg mw-xl-2xl mx-auto text-center">
              <div class="mb-6">
                <svg width="68" height="34" viewbox="0 0 68 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 34C1.99977 29.7976 2.8273 25.6364 4.43533 21.7539C6.04336 17.8713 8.40039 14.3436 11.3718 11.3721C14.3433 8.40056 17.8709 6.04346 21.7533 4.43539C25.6358 2.82732 29.7969 1.99977 33.9991 2C51.6726 2 66 16.3261 66 34" stroke="#FFC96D" stroke-width="4" stroke-miterlimit="10"></path>
                  <path d="M9.22583 34C9.22583 27.4084 11.836 21.0868 16.482 16.4258C21.1281 11.7649 27.4295 9.14639 34 9.14639C40.5705 9.14639 46.872 11.7649 51.518 16.4258C56.1641 21.0868 58.7742 27.4084 58.7742 34" stroke="#FFF2D6" stroke-width="4" stroke-miterlimit="10"></path>
                  <path d="M16.134 34C16.134 29.2617 18.0163 24.7174 21.3669 21.3669C24.7174 18.0163 29.2617 16.134 34 16.134C38.7384 16.134 43.2827 18.0163 46.6332 21.3669C49.9837 24.7174 51.866 29.2617 51.866 34" stroke="#530031" stroke-width="4" stroke-miterlimit="10"></path>
                </svg>
              </div>
              <h3 class="font-heading mb-6 text-white">Want to learn how to build templates like this one?</h3>
              <p class="text-primary-light mb-10">Visit www.pixelrocket.store and learn how to become a frontend web developer</p>
              <div class="d-inline-block bg-white rounded-pill"><a class="btn btn-outline-light text-dark w-100" href="https://www.pixelrocket.store">Start learning today!</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-12 pt-lg-24">
        <div class="container">
          <div class="row mb-16 mb-md-20 mb-lg-32">
            <div class="col-lg-3 mb-16 mb-lg-0"><a class="d-inline-block" href="{% url 'index' %}"><img src="{% static 'bb/images/logo-4.svg' %}" alt=""/></a></div>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-6 col-md-3 mb-12">
                  <h6 class="mb-6 fw-medium">Platform</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'about' %}">About</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'pricing' %}">Pricing</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'blog' %}">Blog</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'contact' %}">Contact</a></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="https://www.pixelrocket.store">Pixel Rocket</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3 mb-12">
                  <h6 class="mb-6 fw-medium">Company</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'about' %}">About</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Our Mission</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Careers</a>                      <span class="badge ms-1 bg-primary text-white lh-base">HIRING</span></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="{% url 'contact' %}">Contact</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <h6 class="mb-6 fw-medium">Resources</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Tutorials</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="{% url 'blog' %}">Blog</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Help Center</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Features</a></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="#">Support</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <h6 class="mb-6 fw-medium">Community</h6>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Discord Server</a></li>
                    <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Slack Group</a></li>
                    <li><a class="btn btn-link text-light-dark p-0" href="#">Zoom Room</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <p class="text-light-dark small mb-0">Template by <a href="https://www.pixelrocket.store">Pixel Rocket</a>. All rights reserved.</p>
          </div>
        </div>
      </section>
    </div>
    <script src="{% static 'bb/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bb/js/main.js' %}"></script>
  </body>
</html>